@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Quicksand|Shadows+Into+Light+Two');


* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

body {
	background: #FEFBEF;
	font-size: 18px;
	font-family: "Quicksand", sans-serif;	
}

h1 {
	font-family: "Shadows Into Light Two", cursive;
	font-size: 175%;
	text-align: center;
	text-transform: uppercase;
	padding: 3% 0;
	color: #78C0A8;

}
h2, h3 {
	font-family: "Shadows Into Light Two", cursive;
	text-align: center;
	text-transform: uppercase;
	color: #5E412F;
}

img {
	max-width: 100%;
	text-align: center;
}

#wrapper {
	max-width: 1200px;
	margin: 0 auto;
}

header {
	width: 100%;
}

.callout {
	float: right;
	padding: 3% 3% 2% 0;
}

.callout h1 {
	text-align: right;
}
.callout p {
	color: #F07818;

}

#logo {
	float: left;
	margin: 3% 0 0 2%;
}
.clearfix {
	clear: both;
}

.banner-wrapper {
	max-width: 1200px;
	margin: 0 auto;
}

#menu-icon {
	display: none;
	background: url(../images/menu3.png) no-repeat center;
	background-size: cover;
	float: right;
	width: 40px;
	height: 40px;
}

nav {
	background: #F0E68C;
	text-align: center;
}

nav ul {
	list-style-type: none;	
}

nav ul li {
	display: inline-block;
	padding: 10px 20px;
}
nav ul li a {
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
	color: #CD5C5C;

}
.active {
	text-decoration: underline;
	color: red;
}
nav ul li a:hover {
	color: #800000; 
	text-decoration: underline;
}

.slideshow-container {
	max-width: 1200px;
	margin: 0 auto;
	position: relative;
}

.mySlide {
	display: none;
}

.prev, .next{
	  cursor: pointer;
	  position: absolute;
	  top: 45%;
	  width: auto;
	  padding: 16px;
	  background: rgba(0,0,0,0.7);
	  color: white;
	  font-weight: bold;
	  font-size: 100%;
	  transition: 0.6s ease;
	  border-radius: 0 3px 3px 0;

}
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

.line-dot {
	text-align: center;
}

.dot {
	width: 13px;
	height: 13px;
	border-radius: 100%;
	display: inline-block;
	background: #bbb;
	cursor: pointer;
}

.active-slider, .dot:hover {
	background: #717171;
}


.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
	from {
		opacity: 0.4;
	}
	to {
		opacity: 1;
	}
}


@keyframes fade {
	from {
		opacity: 0.4;
	}
	to {
		opacity: 1;
	}
}


.one-third {
	width: 28%;
	float: left;
	text-align: center;
	margin: 2% 0 3% 4% ;
}

.one-third i {
	font-size: 585%;
	color: #FFD700;
}
.one-third p {
	text-indent: 10%;
	text-align: justify;
}

.left-col {
	width: 60%;
	float: left;
	padding: 3% 0 3% 4%;
}
.left-col h1 {
	padding-top: 7%;
}

.sidebar {
	width: 25%;
	float: left;
	margin: 1% 0 3% 10%;

}

.page-callout {
	width: 90%;
	margin: 2% auto;
	border: 2px solid #FFD700;
	min-height: 70px;
	
}
.callout-text {
	font-size: 120%;
	font-weight: bold;
	float: left;
	width: 75%;
	padding: 15px 20px;
}

.button-holder {
	float: right;
	width: 25%;
	
}

.btn {
	float: left;
	background: #FF6347;
	color: #fff;
	font-size: 100%;
	font-weight: bold;
	padding: 10px 15px;
	text-decoration: none;
	margin: 10px;
	border-radius: 8px;
}

footer {
	background: #F0E68C;
	width: 100%;
	overflow: auto;
}

footer h3 {
	text-decoration: underline;
}

footer .one-third p {
	text-align: center;
	text-indent: 0;

}

.social {
	list-style-type: none;

}

.social li {
	display: inline-block;
	padding: 10px 15px;
}

.social li i {
	font-size: 150%;
	color: #FFA07A;
}

.social i:hover {
	color: red;
}

.google-maps {
	position: relative;
	overflow: hidden;
	padding-top: 75%;

}

.google-maps iframe {
	position: absolute;
	
	left: 0;
	top: 0;
	width: 100% !important;
	height: 100% !important;

}

.copy {
	text-align: center;
	border-top: 2px solid #fff;
	padding: 10px 0;
}


@media screen and (max-width: 768px) {
	#wrapper {
		margin-top: -1%;
	}

	.callout {
		width: 100%;
		margin: 3% 2% 3% 0;
	}

	.callout p {
		display: none;
	}

	#logo {
		margin-top: -8%;
	}

	#menu-icon {
		display: block;
	}

	.navigation {
		background: #F0E68C;
		width: 100%;
		height: 40px;
	}

	nav {
		/*background: #F0E68C;
		width: 100%;
		height: 40px;*/
		position: relative;
	}

	nav ul, nav:active ul {
		display: none;
		z-index: 1000;
		background: #DEB887;
		border-radius: 5px;
		width: 50%;
		position: absolute;
		top: 40px;
		right: 0;

	}

	nav:hover ul {
		display: block;
	}

	

	nav ul li {
		width: 100%;
		text-align: center;
		border-bottom: 2px solid #fff;
	}

	h1 {
		font-size: 120%;
	}

	h2 {
		font-size: 115%;
	}
	h3 {
		font-size: 110%;
	}

	.slideshow-container a {
		display: none;
	}

	.one-third {
		float: left;
		width: 100%;
		margin: 3% 0;
		padding: 0 5%;
	}

	.one-third i {
		font-size: 380%;
	}
	p {
		font-size: 90%;
	}

	.left-col {
		float: left;
		width: 100%;
	}
	.sidebar {
		float: left;
		width: 100%;
		margin: 0;
		padding: 0 3%;
	}
	/*.one-third img {
		width: 100%;
		margin: 0;
		padding: 0;
	}*/
	.page-callout {
		height: 150px;
	}

	.callout-text {
		float: left;
		width: 100%;
		font-size: 100%;
	}

	.button-holder {
		float: none;
		width: 100%;
		text-align: center;

	}
	.btn {
		float: none;
		font-size: 90%;	
	}




}














